includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: 10
  paths: [src, tests]
  tmpDir: var/phpstan
  doctrine:
    objectManagerLoader: tests/object-manager.php
